<h2>Bikes Collection</h2>

<div>
  <label>Add new Bike:
    <input #bikeName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(bikeName.value); bikeName.value=''">
    Add
  </button>
</div>

<nav>
    <a routerLink="/">Back</a>
</nav>
<ul class="heroes">
  <li *ngFor="let bike of bikes">
    <a routerLink="/bike/{{bike.id}}">
    <span class="badge">{{bike.id}}</span> {{bike.name}}
</a>
<button class="delete" title="delete bike"
  (click)="delete(bike)">x</button>
  </li>
</ul>
 
