body, input[text], button {
  color: crimson;
  font-family: Cambria, Georgia;
}

h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.heading h2 {
  float:left;
}

.heading {
  /*display: block;*/
}

button.clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #888;
  margin: 20px 0 19px 20px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.messages {
  margin-left: 0;
  display: block;
}